@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #c6e6ee;
    --branco: #de9ae0;
    --laranja: #ffd98d;
    --azul-degrade: linear-gradient(97.54deg, #bed9ee 35.49%, #96a8b4 165.37%);
    --fonte-principal: "Poppins";
    --azul: #724696;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #0f0f3a;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}